.carousel-container {
  position: relative;
  width: 100vw;
  top: -17vh;
  margin: auto;
  overflow: hidden;

}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-item p {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
