.carousel-container {
  position: relative;
  width: 100vw;
  top: -17vh;
  margin: auto;
  overflow: hidden;

}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.0000001s linear;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-item p {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

