body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site{
  background-color: #C3F4FF;
}
footer{
  border-top: 0.5vh solid #2AAE3A;
}
a{
  text-decoration: none;
}
.logo{
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 2.2vw;
  top: 1.3vh;
}
.map-link{
  display: block;
  width: 12.8vw;
  height: 7.3vh;
  background-color: #5DC1FF;
  position: absolute;
  left: 84%;
  top: 4.6vh;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  color: white;
}

header{
  height: 16.7vh;
  background-color: #9ee6ee;
}
.sitename{
  position: absolute;
  display: block;
  left: 20%;
  text-align: center;
  width: 61%;
  height: 130px;
  padding-top: 1.6vh;
  font-size: 36px; 
  line-height: 52px;
  font-weight: 400;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaflet-control-attribution {
  display: none;
}
  .dropdown-menu {
    position: absolute;
    display: inline-block;
    width: 13vw;
    height: 31vh;
    position: absolute;
    left: 87.1vw;
    top: 29.4vh;
  }
  
  .dropdown-toggle {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;    
  }
  
  .dropdown-toggle:hover {
    background-color: #0056b3;
  }
  
  .dropdown-list {
    border-radius: 8px;
    position: absolute;
    left:0;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
     max-height: 30vh; /* Ограничиваем максимальную высоту */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  width: 80%; /* Убедитесь, что ширина соответствует родительскому элементу */
  }
  
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
    width: 100px;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  }
.nav{
  display: inline-block;
}
.footer-list{
  text-align: center;
}
ul{
  list-style-type: none;
}

.tempbut{
  position: absolute;
  left: 63.5vw;
  top: 59.7vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.prebut{
  position: absolute;
  left: 74.9vw;
  top: 59.7vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.setbut{
  position: absolute;
  left: 63.5vw;
  top: 68.3vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.bikebut{
  position: absolute;
  left: 63.5vw;
  top: 77.4vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.footbut{
  position: absolute;
  left: 74.9vw;
  top: 68.3vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.carbut{
  position: absolute;
  left: 74.9vw;
  top: 77.4vh;
  background-color: #5DC1FF;
  width: 10.3vw;
  height: 7.1vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.allbut{
  position: absolute;
  left: 19vw;
  top: 17.3vh;
  background-color: #5DC1FF;
  width: 10vw;
  height: 4vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.urbanbut{
  position: absolute;
  left: 30.5vw;
  top: 17.3vh;
  background-color: #5DC1FF;
  width: 10vw;
  height: 4vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.naturalbut{
  position: absolute;
  left: 42vw;
  top: 17.3vh;
  background-color: #5DC1FF;
  width: 10vw;
  height: 4vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
}
.progressbar
{
  position: absolute;
  right:171vh;
  top: 52.5vh;
}
.progressbar span {
  white-space: nowrap; /* Убедимся, что текст не переносится */
  position: relative;
  left:73vh;
  bottom: 2.2vh;
}